@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
html,
body {
  font-family: 'Source Sans Pro';
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.75s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
